#EXAMPLE .env file for development. 
#Copy this to .env and fill in the values as needed.


# --- SERVICE CONFIG ---
# --- PUBLIC CONFIG (Also in .env.public) ---
# For local dev: http://localhost:8080
# For Android Emulator: http://10.0.2.2:8080
BACKEND_URL=http://10.0.2.2:8080

# --- INTERNAL SERVICE CONFIG ---
AUTH_SERVICE_URL=http://SERVICE:PORT
GOOGLE_SERVICE_URL=http://SERVICE:PORT
MIDDLE_SERVICE_URL=http://SERVICE:PORT
SL_SERVICE_URL=http://SERVICE:PORT

# --- SECRETS & API KEYS ---
# --- PUBLIC SECRETS (Also in .env.public) ---
MAPBOX_ACCESS_TOKEN=pk.EXAMPLE_MAPBOX_ACCESS_TOKEN

# --- PRIVATE SECRETS (NEVER put in .env.public) ---
PLACES_KEY=EXAMPLE_PLACES_KEY